cyperx.exe
# check the release
.cyperx
latest.json
cyperx_output
c.s
win-unpacked
void-1.0.0-setup.exe.blockmap
builder-debug.yml
builder-effective-config.yaml
# latest.yml
cyperx-1.0.0-setup.exe.blockmap